/*@import "../../../scss/variable.scss";

.stam_service {
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
  @media screen and (max-width :620px) {
  padding-bottom: 2rem;
  }
  .stam_banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 130px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(104, 102, 102, 0.452);
      z-index: 1;
    }
    h1 {
      position: relative;
      z-index: 2;
      color: white;
    }
  }
  .stamford_do_main{
        max-width: 1200px;
        margin: 40px auto;
        padding: 25px 30px;
        border: 1px solid  rgba(75, 75, 75, 0.37);
        @media screen and (max-width:1200px) {
            max-width: 860px;
        }
        @media screen and (max-width:900px) {
            max-width: 800px;
        }
        @media screen and (max-width:812px) {
            max-width: 700px;
        }
        @media screen and (max-width:715px) {
            max-width: 500px;
        }
        @media screen and (max-width:620px) {
            width: 95%;
        padding: 22px 26px;
        }
        h2{
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
        }
        p{
            @media screen and (max-width:812px) {
                font-size: 14px;
            }
            @media screen and (max-width:715px) {
                font-size: 11px;
            }
        }
  }
}
*/


@import "../../../scss/variable.scss";
.stam_contactMain {
  width: 100%;
  height: 100%;
//   margin-top: 220px;
//   background-color: #17372f;
  font-family: $primaryFontFamily;
  @media screen and (max-width: 1200px) {
    // margin-top: 80px;
  }
  .content_stam {
    strong{
      text-decoration: underline;
    }
    .title {
      width: 100%;
      padding: 1.2rem 0;
      text-transform: uppercase;
      h2 {
        font-size: 38px;
        // font-size: 62px;
        font-weight: 800;
        color: #f6c2b5;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 2rem;
        font-family: $primaryFontFamily;
        @media screen and (max-width: 504px) {
          font-size: 42px;
          margin-top: 2rem;
        }
      }
    }

  }
  .stam_sp-service-policy {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 3rem 50px;
    // color: white;
    color: black;
    @media screen and (max-width: 768px) {
      padding: 2rem 33px;
    }
    @media screen and (max-width: 560px) {
      padding: 2rem 20px;
    }
  }
  .stam_sp-service-policy__subtitle {
    padding: 0.5rem 0;
  }
  
}
