@import '../../../scss/elvee_modules.scss';

.el_craftmenshipId_main {
    font-family: $fontSansSerif;

    .mainSocialMediaConatiner {
        margin-top: 20px;
    }

    .elv_craftman_div {
        margin: 80px 0px 80px 0px !important;
        text-align: center;

        .craftmenship {
            color: rgba(29, 50, 88, 0.8) !important;
            font-size: 28px;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 2px;

            @media (max-width: 500px) {
                font-size: 23px;
            }

            @media (max-width: 350px) {
                font-size: 22px;
            }
        }
    }

    .elv_craft_subtitle {
        font-size: 15px;
        text-transform: uppercase;
        font-family: $fontSansSerif;

        @media (max-width: 500px) {
            font-size: 13px;
        }

        @media (max-width: 350px) {
            font-size: 12px;
        }
    }
}


@media (max-width: 768px) {
    .swiper {
        padding-top: 0;
    }
}

.craft_mySwiper {

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        color: #f0f0f0;
    }
}