@import "../../../scss/variable";

.smr_Footer1_main {
  .footerBottomMain {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;
    padding: 30px 20px ;
    margin-top: 5%;
  }

  .footerIconMain {
    display: flex;
    width: 33.33%;
  }

  .footerMoreOption {
    display: flex;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .footerSocialIcon {
    height: 45px;
    width: 45px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;
     
  }

  .footerSocialIcon:hover {
    border-color: $homePageFontColor;
  }

  .footerMoreOptionData {
    font-size: $fontSize2;
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-weight: 500;
    margin-inline: 15px;
    letter-spacing: 1px;
  }

  .footerMoreText {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
  }

  .footerMoreOptionData {
    font-size: 12px;
    color: $homePageFontColor;
    font-weight: 500;
    margin-inline: 15px;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
  }

  .footerMoreOptionData::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $homePageFontColor;
    transition: width 0.3s ease;
  }

  .footerMoreOptionData:hover::before {
    width: 100%;
  }

  @media screen and (max-width: 1700px) {
    .footerIconMain {
      // width: 25% !important;
    }

    .footerMoreOption {
      width: 50% !important;
    }

    .footerMoreText {
      width: 25% !important;
    }
  }
  @media screen and (max-width: 1024px) {
    .footerBottomMain {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footerMoreOption {
      width: 100% !important;
    }

    .footerIconMain {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .footerMoreOption {
      margin-top: 25px;
      width: 100%;
    }

    .footerMoreText {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    .footerBottomMain {
      padding-bottom: 0;
    }

    .footerMoreText {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 600px) {
    .footerMoreOption {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .inputMain {
      display: flex;
      flex-direction: column;
    }
  }
}

.smr_Footer2_main {
  .footerBottomMain {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;
    padding: 10px 20px;
    margin-top: 5%;
  }

  .footerIconMain {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
  }

  .footerMoreOption {
    display: flex;
    width: 50%;
  }

  .footerSocialIcon {
    height: 45px;
    width: 45px;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: 5px;
  }

  .footerSocialIcon:hover {
    border-color: $homePageFontColor;
  }

  .footerMoreOptionData {
    font-size: $fontSize2;
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-weight: 500;
    margin-inline: 15px;
    letter-spacing: 1px;
  }

  .footerMoreText {
    display: flex;
    width: 33.33%;
    justify-content: flex-end;
  }

  .footerMoreOptionData {
    font-size: 12px;
    color: $homePageFontColor;
    font-weight: 500;
    margin-inline: 15px;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
  }

  .footerMoreOptionData::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $homePageFontColor;
    transition: width 0.3s ease;
  }

  .footerMoreOptionData:hover::before {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .footerBottomMain {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footerIconMain {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .footerMoreOption {
      margin-top: 25px;
      width: 100%;
    }

    .footerMoreText {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    .footerBottomMain {
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .footerMoreOption {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .inputMain {
      display: flex;
      flex-direction: column;
    }
  }
}
