
@import '../../../scss/variable';

.mal-contactMain {
    margin-top: 220px;
    background-color: #17372f;
    color: white !important;
    padding-bottom: 4rem;
    font-family: $rown !important;
    @media screen and (max-width: 1200px) {
      margin-top: 80px;
    }
    .content_malkana {
        max-width: 1200px;
        margin: 0 auto;
        .title {
          width: 100%;
          padding: 1.2rem 0;
          text-transform: uppercase;
          h2 {
            font-size: 48px;
            font-weight: 800;
            color: #f6c2b5;
            font-family: $primaryFontFamilyMedium;
            @media screen and (max-width: 504px) {
              font-size: 42px;
              margin-top: 2rem;
            }
          }
          p{
            font-family: $rown;
          }
        }
    
      }
    
}
.daimondsEveryAbout{
  background-color: white;
}

.Fo-contactBoxMain {
    display: flex;
    margin-inline: 10%;
}

.Fo-contactBox1 {
    width: 50%;
    border-right: 1px solid #e1e1e1;
    display: flex;
    justify-content: center;
}

.Fo-contactBox1Title {

    margin: 0px 0px 10px;
    letter-spacing: 1px;
    color: #fff !important;
    font-weight: 500;
    font-size: 12px;
}

.Fo-contactBox1InputBox {
    height: 50px !important;
    width: 300px;
    border: 1px solid #e1e1e1;
    padding: 0px 5px;
}

.Fo-contactBox2 {
    width: 50%;
    margin: 0px;
}

.Fo-contactBox2Title {
    font-family: 'TTCommons-Regular,Helvetica,sans-serif';
    font-size: 23px;
    font-weight: 500;
    color: #7d7f85;
    margin: 0;
}

.Fo-contactBox1BtnSub {
    height: 60px;
    width: 300px;
    margin-top: 30px;
    border: 0;
    background-color: #7d7f85;
    color: white;
    transition: all 0.4s ease;
}

.Fo-contactBox1BtnSub:hover {
    background-color: white;
    border: 1px solid #7d7f85;
    color: #7d7f85;
}

.Fo-contactBox2Desc {
    color: #7d7f85;
    font-size: 14px;
}

.error{
    color: red;
}

.tab-buttons {
    display: flex;
    width: 100%;
    margin-bottom: 20px ;
  }
  
  .tab-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
  }
  
  .tab-buttons button.active {
    border-bottom: 2px solid blue;
  }

@media screen and (min-width:1441px) {
    .mobileHeaderSmining {
        /* display: none; */
    }
}

@media screen and (max-width:1440px) {
    .Fo-contactBox1 {
        padding-left: 0px;

    }

    .Fo-contactBox2 {
        width: 40%;
        margin: 0px;
        // margin-top: 15%;
        margin-left: 100px;
    }
}

@media screen and (max-width:1200px) {
    .Fo-contactMain {
        margin-inline: 2% !important;
    }
}

@media screen and (max-width:800px) {
    .Fo-contactMain {
        margin-inline: 1% !important;
    }
}

@media screen and (max-width:1000px) {

    .Fo-contactBoxMain {
        display: flex;
        margin-inline: 10%;
        flex-direction: column;
    }

    .Fo-contactBox1 {
        width: 100%;
        padding-left: 0px;
        margin-top: 50px;
        border-right: 0;
    }
    .Fo-contactBox1InputBox {
        height: 40px;
        width: 100%;
        border: 1px solid #e1e1e1;
    }
    .Fo-contactBox2 {
        width: 100%;
        margin: 10px;
        margin-top: 30px;

    }

    .mapContact{
        width: 100%!important;
    }

    .stam_contactMain{
        padding-top: 10px!important;
    }
}