@import '../../../scss/variable.scss';

.dai_headerMain {
  .dai_headerMainTop {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: black !important;
    margin-inline: 0px;
    padding-inline: 30px;
    border-bottom: 1px solid lightgray;
    padding: 0;
    padding-left: 0 !important;
    color: #acabab;
    justify-content: space-between;
   
  }
.first-dt{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.two-dt{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.three-dt{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

  .div_contact_info {
    display: flex;
    align-items: center;
  }

  .Dt_FontFamilySet {
    font-family: "Rosarivo", cursive;
    ;
  }
  

  .level1MenuData {
    font-family: $homePageFontFamily;
  }

  .dai_login_link {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: $homePageFontFamily;
  }

  .dt_headermainDiv {
    display: flex;
    background-color: white;
    height: 100px;
    margin-inline: 20%;
  }

  .dt_headermainDiv1 {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .dt_headermainDiv2 {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dt_header_logo {
    max-width: 550px;
  }

  .dt_headermainDiv3 {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dt_nav_li_smining {
    margin-inline: 0px;
  }

  .serachinputBoxOverly {
    border: none;
    color: #222;
    font-size: 13px;
    height: 50px;
    outline: none;
    width: 95%;
  }

  .dt_nav_ul_shop {
    display: flex;
    list-style: none;
    margin: 0px;
    gap: 18px;
  }





  .dt_TopFixed_Header {
    align-items: center;
    background-color: #f0e0e0;
    color: #fff !important;
    display: flex;
    height: 60px;
    justify-content: space-between;
    z-index: 1;
  }

  .dt_ul_main {
    height: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    width: 100%;
    justify-content: center;
  }

  .dt_menu_li {
    margin-inline: 10px;
  }


  .nav_li_sminingSpan_Menu {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    font-family: $homePageFontFamily;
  }

  .nav-li-sminingSpan_Home {
    color: black !important;
    position: relative !important;
    font-weight: 600;
    font-family: $homePageFontFamily;

  }

  .nav-li-sminingSpan {
    color: black !important;
    position: relative !important;
    text-decoration: none !important;
    font-weight: 600;
    font-family: $homePageFontFamily;
  }

  .nav-li-sminingSpan::before {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 1px !important;
    border-radius: 1px !important;
    background-color: #a8807c !important;
    bottom: 0 !important;
    left: 0 !important;
    transform-origin: right !important;
    transform: scaleX(0) !important;
    transition: transform .3s ease-in-out !important;
  }

  .nav-li-sminingSpan:hover::before {
    transform-origin: left !important;
    transform: scaleX(1) !important;
  }



  .dt_TopFixed_Header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1111;
  }

  /// open dropdownList 
  .dt_shop_dropdown {
    height: auto;
    display: none;
    transition: all 0.5s ease;
    // box-shadow: 0 0 25px 0 rgba(200, 200, 200, .5);
  }

  .dt_shop_dropdown.open {
    display: block;
    position: absolute;
    z-index: 111111;
    // width: 100%;
    margin-top: 0px;
    transition: all 0.5s ease;
  }

  .dt_shop_dropdown.open.fixed {
    position: fixed;
    top: 0;
    // box-shadow: 0 2px 5px rgba(20, 19, 19, 0.1);
    z-index: 1000;
    transform: translateY(0px);
    transition: all 0.4s ease;
    height: 60px;
    // margin-top: 50px;
  }

  .menuDropdownData {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: black !important;
    background: transparent;
    gap: 50px;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; */
  }


  @media screen and (max-width: 1400px) {
    .dai_headerMainTop {
      margin-inline: 10%;
    }

    .dt_headermainDiv {
      margin-inline: 10%;
    }
  }

  @media screen and (min-width: 1151px) {
    .dt_mobileViewHeaderMain {
      display: none;
    }
  }

  @media screen and (max-width: 1150px) {
    .dt_headermainDiv {
      display: none;
    }

    .dai_headerMainTop {
      display: none;
    }

    .dt_TopFixed_Header {
      display: none;
    }

    .dt_mobileViewHeaderMain {
      display: flex;
      justify-content: space-between;
      position: fixed;
      z-index: 1111111111;
      width: 100%;
      height: 60px;
    }


    .dt_mobileView_div2_logo {
      max-width: 150px;
    }

    .dt_mobileView_div1 {
      width: 33.33%;
      display: flex;
    }

    .dt_mobileView_div2 {
      width: 33.33%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dt_mobileView_div3 {
      width: 33.33%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .dt_mobile_div3_ulMain {
      display: flex;
      list-style: none;
      margin: 0px !important;
      padding: 0px !important;
    }

  }

  @media screen and (max-width: 650px) {
    // .dt_mobile_div3_li1 {
    //   display: none;
    // }

    .dt_mobile_login_text {
      display: flex;
      align-items: center;
      margin-inline: 4px !important;
      font-weight: 600;
    }

    .dt_mobile_div3_li3 {
      margin-inline: 2px !important;
    }

  }

  .dt_lookBookNew_header {
    position: absolute;
    left: 0px;
    top: 5px;
    color: white;
    background-color: saddlebrown;
    width: fit-content;
    padding-inline: 5px;
    height: 16px;
    font-size: 10px;
    border-radius: 5px;
  }

  @media screen and (min-width:426px) {
    .dt_mobileView_div2_mobile {
      display: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 425px) {
    .dt_mobileView_div2 {
      display: none !important;
    }
  }

}