@import '../../../scss/variable';


.ProCat_Footer1_main {
    margin-inline: 6%;
    padding-top: 70px;
    background-color: white;

    .footerBottomMain {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e1e1e1;
        padding: 10px 20px;
    }

    .footerIconMain {
        display: flex;
        width: 33.33%;
    }
    .pro-title{
        @media screen and (max-width: 1404px) {
   text-align: left !important;
   display: flex !important;
   align-items: start !important;
   justify-content: flex-start !important;
   width: 100% !important;
        }
    }
    .new-link-proc {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); /* Adjusts columns to fit content */
        width: 100%;
        gap: 3px;
        @media screen and (max-width: 1404px) {
            display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important ;
        width: 100% !important;
        }
        a {
            text-decoration: none;
            color: $homePageFontColor;
        }
    }

    .footerOfficeDesc {
        font-size: 14px;
    }

    .footerMoreOption {
        display: flex;
        width: 100%;
    }

    .footerSocialIcon {
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-inline: 5px;
    }

    .footerSocialIcon:hover {
        border-color: $homePageFontColor;
    }


    .footerMoreOptionData {
        font-size: $fontSize2;
        color: $homePageFontColor;
        font-family: $homePageFontFamily;
        font-weight: 500;
        margin-inline: 15px;
        letter-spacing: 1px;
    }

    .footerMoreText {
        display: flex;
        width: 33.33%;
        justify-content: flex-end;
    }


    .footerMoreOptionData {
        font-size: 12px;
        color: $homePageFontColor;
        font-weight: 500;
        margin-inline: 15px;
        letter-spacing: 1px;
        position: relative;
        text-decoration: none;
        transition: color 0.3s;
        cursor: pointer;
    }

    .footerMoreOptionData::before {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $homePageFontColor;
        transition: width 0.3s ease;
    }

    .footerMoreOptionData:hover::before {
        width: 100%;
    }

    @media screen and (max-width: 1200px) {
        margin-inline: 1% !important;
    }

    @media screen and (max-width: 1024px) {


        .proCat_AddresMain {
            margin-left: 0px !important;
        }

        .proCat_SoicialMain {
            margin-left: 0px !important;
        }

        .footerBottomMain {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footerIconMain {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .footerMoreOption {
            margin-top: 25px;
            width: 100%;
        }

        .footerMoreText {
            margin-top: 10px;
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    @media(max-width: 768px) {
        .footerBottomMain {
            padding-bottom: 0;
        }
    }

    @media screen and (max-width: 600px) {

        .footerMoreOption {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .inputMain {
            display: flex;
            flex-direction: column;
        }

        .proCat_SoicialMain {
            margin-bottom: 50px !important;
            display: flex;
            width: 100% !important;
            align-items: center !important;
            flex-direction: column !important;
        }

    }
}



.proCat_Footer2_main {
    .footerBottomMain {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e1e1e1;
        padding: 10px 20px;
        margin-top: 15%;
    }

    .footerIconMain {
        display: flex;
        width: 33.33%;
        justify-content: flex-end;
    }

    .footerMoreOption {
        display: flex;
        width: 50%;

    }

    .footerSocialIcon {
        padding: 10px;
        border: 1px solid #e1e1e1;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-inline: 5px;
    }

    .footerSocialIcon:hover {
        border-color: $homePageFontColor;
    }


    .footerMoreOptionData {
        font-size: $fontSize2;
        color: $homePageFontColor;
        font-family: $homePageFontFamily;
        font-weight: 500;
        margin-inline: 15px;
        letter-spacing: 1px;
    }

    .footerMoreText {
        display: flex;
        width: 33.33%;
        justify-content: flex-end;
    }


    .footerMoreOptionData {
        font-size: 12px;
        color: $homePageFontColor;
        font-weight: 500;
        margin-inline: 15px;
        letter-spacing: 1px;
        position: relative;
        text-decoration: none;
        transition: color 0.3s;
        cursor: pointer;
    }

    .footerMoreOptionData::before {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $homePageFontColor;
        transition: width 0.3s ease;
    }

    .footerMoreOptionData:hover::before {
        width: 100%;
    }


    @media screen and (max-width: 1024px) {

        .footerBottomMain {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footerIconMain {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .footerMoreOption {
            margin-top: 25px;
            width: 100%;
        }

        .footerMoreText {
            margin-top: 10px;
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    @media(max-width: 768px) {
        .footerBottomMain {
            padding-bottom: 0;
        }
    }

    @media screen and (max-width: 600px) {

        .footerMoreOption {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .inputMain {
            display: flex;
            flex-direction: column;
        }
    }
}