// @import "../scss//variable.scss";

// ::-webkit-scrollbar {
//   display: none;
// }

// .menus_bar {
//   &::-webkit-scrollbar {
//     display: none;
//     background-color: transparent;
//   }
// }
// .swiper-button-next,
// .swiper-button-prev {
//   color: rgba(122, 120, 120, 0.897);
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
// }

// .swiper-button-next:after,
// .swiper-button-prev:after {
//   font-size: 20px; 
// }

// .zara-footer {
// width: 100%;
//   position: absolute;
//   &__container {
//     max-width: 72rem;
//     margin: 0 auto;
//     gap: 6rem;
//     font-family: $primaryFontFamily;
//     width: 100%;
//     padding: 3rem 1rem;
//     height:50vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     color: black;
//   }

//   &__newsletter {
//     text-align: center;

//     h2 {
//       font-size: 1.125rem;
//       font-weight: 400;
//     }
//   }

//   &__social {
//     display: flex;
//     justify-content: center;
//     gap: 1.5rem;
//     font-size: 0.875rem;

//     a {
//         text-decoration: none;
//         color: gray;
//       &:hover {
//         font-weight: 400;
//       }
//     }
//   }

//   &__info {
//     width: 100%;
//     font-size: 0.625rem;
//     text-align: center;
//     line-height: 1.2;
//     display: flex;
//     align-items: start;
//     justify-content: flex-start;
//     flex-direction: column;
//     text-align: left;
//     padding: 4vw 10vw;

//     p {
//       margin-bottom: 0.25rem;
//     }
//   }
// }
