// src/InquiryModal.scss

$modal-bg: rgb(255, 255, 255);
$overlay-bg: rgba(90, 90, 90, 0.144);
$primary-color: #000;
$secondary-color: #fff;

.for-inquiry-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;

  .for-open-modal-button {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .for-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;

    .for-modal-content {
      background-color: $modal-bg;
      padding:15px 20px;
      width: 90%;
      max-width: 550px;
      position: relative;
      border: 2px solid rgba(100, 100, 100, 0.308);
      
      .for-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 14px;
          text-align: center;
        }

        .for-close-button {
          background: transparent;
          border: none;
          cursor: pointer;
          border: 1px solid  black;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .for-modal-form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .for-grid {
           flex-direction: row !important;
           justify-content: space-between;
           width: 100%;
           gap: 1rem;
           div{
            display: flex;
            flex-direction: column !important;
            width: 100%;
            input{
              flex: 1;
            }
           }
         }

        .for-form-group {
          display: flex;
          flex-direction: column;
        
          label {
            font-weight: bold;
            font-size: 12px;
          }
          p{
            font-size: 10px ;
            margin-top: 6px;
            font-weight: 600;
            margin-bottom: 0 !important;
          }

          input,
          textarea {
            padding: 6px 10px;
            border: 2px solid #ccc;
            &:placeholder-shown{
              font-size: 15px;
            }
            &::placeholder{
              font-size: 15px;
            }
          }

          textarea {
            resize: none;
            min-height: 20px !important;
          }

        }

        .for-submit-button {
          background-color: $primary-color;
          color: $secondary-color;
          padding: 10px;
          border: none;
          cursor: pointer;
        }
      }

      .for-privacy-policy {
        font-size: 11px;
        text-align: center;
        color: rgb(63, 63, 63);
        margin-top: 7px;
      }
    }
  }
}
