@import "../../../scss/Variable.scss";

.roop_collection_main {
  .roop_col_title {
    font-size: 40px;
    text-align: center;
    font-family: $fontBold;
  }

  .roop_whyshop_title {
    // font-size: 40px;
    // text-align: center;
    margin-top: 70px;
    // font-family: $fontBold;
    font-size: $fontSize6;
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    text-align: center;
  }

  .roop_col_imageMain_div {
    display: flex;
    // padding-inline: 230px;
    padding-inline: 90px;
  }

  .roop_col_image_div {
    background-color: #EDF2F6;
    width: 33.33%;
    overflow: hidden;
    border-radius: 5px;
    margin: 15px;
  }

  .roop_col_jewelImg {
    width: 100%;
    object-fit: contain;
  }

  .roop_col_name {
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-weight: 600;
    color: #000000b3;
    font-family: $fontBold;
  }

  .roop_col_shop_div_main {
    display: flex;
    // padding-inline: 220px;
    padding-inline: 90px;
    padding-bottom: 2rem;
  }

  .roop_col_shop_div {
    position: relative;
    width: 25%;
    background-color: #EDF2F6;
    margin: 10px;

    @media screen and (max-width: 900px) {
      width: 47% !important;
      // width: 100% !important;
    }

    @media screen and (max-width: 790px) {
      width: 46% !important;
    }

    @media screen and (max-width: 620px) and (min-width: 601px) {
      width: 45% !important;
    }

    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }

  .imageDiv {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 60px 60px 80px 60px;
    display: flex;
    justify-content: center;
  }

  .roop_whyshop_jewelImg {
    transition: transform 0.5s ease;
  }


  .imageDiv h5 {
    position: absolute;
    text-align: center;
    bottom: 10px;
    font-size: 18px;
    color: black;
    font-family: $fontBold;
    font-weight: 600;
  }

  .onhover_show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 42, 72, 0.9);
    /* Semi-transparent blue */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease;
  }

  .onhover_show h5 {
    color: white;
    font-size: 24px;
    font-family: $fontBold;
    font-weight: 600;
  }

  .onhover_show p {
    color: #ccc;
    margin: 0px;
    padding: 10px;
    font-family: $fontMedium;
  }

  .roop_col_shop_div:hover .onhover_show {
    opacity: 1;
  }

  .roop_col_shop_div:hover .roop_whyshop_jewelImg {
    transform: scale(1.1);
    /* Slight zoom effect on hover */
  }

  @media screen and (max-width:1400px) {
    .roop_col_imageMain_div {
      padding-inline: 60px !important;
    }

    .roop_col_shop_div_main {
      padding-inline: 60px !important;
    }

    .roop_whyshop_title {
      font-size: 20px !important;
    margin-top: 40px;
    }

    .onhover_show p {
      text-align: center !important;
    }
  }

  @media screen and (max-width: 900px) {
    .roop_col_title {
      margin: 10px 0px 0px 0px;
      font-size: 20px !important;
    }

    .roop_col_imageMain_div {
      padding-inline: 0px !important;
    }

    .roop_col_shop_div_main {
      display: flex !important;
      flex-wrap: wrap !important;
    }
  }

  @media screen and (max-width: 600px) {
    .roop_col_image_div {
      margin: 10px 0px !important;
      width: 100% !important;
    }

    .roop_col_title {
      margin: 10px 0px 0px 0px;
      font-size: 25px !important;
    }

    .roop_col_imageMain_div {
      display: flex !important;
      flex-wrap: wrap !important;
    }

    .roop_col_name {
      font-size: 16px !important;
    }

    .roop_col_shop_div_main {
      padding-inline: 0px !important;
    }
  }
}