@import "../../../scss/variable";

.smr_album-container {
    .smr_ablbumtitleDiv {
        text-align: center;
        padding-block: 2%;

        .smr_albumtitle {
            font-size: 28px;
            color: #7d7f85;
            font-family: $homePageFontFamily;
        }
    }

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 4px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 20px;
            font-size: $fontSize1;
            color: $titleColor;
            background: none;
            cursor: pointer;

            &.active {
                background-color: #f5f5f5;
                color: $titleColor;
            }
        }
    }

    .smr_swiper_container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        // animation: fadeIn 1s forwards;
        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        // .swiper-slide-custom {
        //     min-width: 320px;
        // }

        .design-slide {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 50px;
            background-color: #f1f1f1;
            // min-height: 400px;
            min-height: auto;
            width: 100%;
            @media screen and (max-width:768px) {
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        .design-info {
            margin-top: 2px;
            text-align: start;

            .smr_album1Titleline {
                font-size: $fontSize1;
                color: $titleColor;
                padding: 0;
                margin: 0;
                text-align: start;
                letter-spacing: .5px;
                width: '100%';
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .smr_album1price {
                font-size: $fontSize2;
                letter-spacing: .5px;
                color: #7d7f85;
                font-weight: bold;
                padding: 0;
                margin: 0;
                text-align: start;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: #b7b7b7;
            color: #fff;
            padding: 10px;
            border-radius: 50%;
            z-index: 12;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -30px !important;

            &:after {
                font-size: 16px;
            }
        }

        .swiper-button-disabled {
            opacity: 0.5;
            cursor: pointer;
            pointer-events: auto;
            background-color: #ababab;
            margin-top: -30px !important;
        }


        @media (max-width: 900px) {

            .swiper-button-prev,
            .swiper-button-next {
                background-color: #b7b7b7;
                color: #fff;
                padding: 10px;
                border-radius: 50%;
                z-index: 12;
                width: 27px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -30px !important;

                &:after {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        // .swiper-slide-custom {
        //     min-width: 260px !important;
        // }

        .design-slide {
            padding: 20px !important;
        }

        .smr_ablbumtitleDiv {
            .smr_albumtitle {
                font-size: 18px !important;
            }
        }
    }

    // @media (max-width: 992px) {
    //     .swiper-slide-custom {
    //         min-width: 220px !important;
    //     }

    //     .design-slide {
    //         padding: 20px !important;
    //     }
    // }

    @media (max-width: 768px) {
        // .swiper-slide-custom {
        //     min-width: 180px !important;
        // }

        // .smr_Albumtab {
        //     min-height: 35px !important;
        // }

        .design-slide {
            padding: 10px !important;
        }

        // .design-info {
        //     .smr_album1price {
        //         font-size: $fontSize1 !important;
        //     }
        // }
    }

    @media (max-width: 576px) {
        // .swiper-slide-custom {
        //     min-width: 140px !important;
        // }

        // .album-container .tabs button.active {
        //     background-color: #f5f5f5;
        //     color: #7d7f85;
        //     min-height: 35px !important;
        // }

        // .design-slide {
        //     padding: 10px !important;
        // }

        // .design-info {
        //     .smr_album1price {
        //         font-size: $fontSize2 !important;
        //     }
        // }
    }
}