@import "../../../scss/variable";

.prodetailbtn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: #7d7f85;
    outline: none;
    border: none;
    letter-spacing: 2px;
    padding: 20px 0px;
    border: 1px solid #7d7f85;
    transition: 0.3s ease;
    /* margin-inline: 20px; */
    font-size: 13px;
    width: 100%;
}

.dt_deatil_proDeatilList {
    width: 25%;
    font-weight: 600;
    font-size: 20px;
    color: $primaryfontcolor2;
    text-decoration: underline;
}

.dt_deatil_proDeatilList1 {
    width: 25%;
    color: #808080;
    font-size: 15px;
}


.prodetailbtn:hover {
    background-color: white;
    color: #7d7f85;
}

.tellmoreli {
    font-size: 13px;
    color: #7f7d85;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 35px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 0px;
}

.tellmorep {
    display: flex;
    justify-content: space-between;
    width: 100%
}


.my-list-fineJewe {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
    margin: 0px;
}

.my-list-fineJewe.openAcc {
    max-height: 400px;
    margin: 0;
}

.srAccContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.srFloat {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sracctabletd1 {
    text-align: center;
    width: 44.4955%;
    display: table-cell;
    border-left: 1px solid #e1e1e1;
    padding: 0.935em 1.875em;
    white-space: nowrap;
}

.sracctabletd2 {
    text-align: center;
    width: 26.5045%;
    display: table-cell;
    border-left: 1px solid #e1e1e1;
    padding: 0.935em 1.875em;
    white-space: nowrap;
}

.sracctabletd3 {
    text-align: center;
    width: 24%;
    display: table-cell;
    border-left: 1px solid #e1e1e1;
    padding: 0.935em 1.875em;
    white-space: nowrap;
}

.sracctable {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e1e1e1;
    display: table;
    width: 100%;
    margin-bottom: 1em;
}

.dt_compeletethelook_cont {
    padding: 0px 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dt_compeletethelook_prodt {
    z-index: 1;
    position: relative;
    margin-left: -140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dt_ctl_img {
    object-fit: cover;
    width: 63%;
    margin-top: 12px;
    margin-bottom: -100px;
}

.dt_completethelook_outer {
    padding: 5px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    width: 513px
}

.dt_product-detail-container {
    display: flex;
    width: 62.5%;
    max-height: 1009px;
    gap: 10px;
}

.srprodetail1 {
    width: 60%;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    height: 35rem;

    @media (max-width: 1426px) {
        height: inherit;
    }
}

.srprodetail2 {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.srprodetail2-cont {
    /* margin: 50px 150px 0px; */
    width: 100%;
    padding-bottom: 30px;
}

.srthumb_images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding-left: 50px; */
    /* z-index: 1; */
    /* top: 200px; */
    /* position: absolute; */
}

.prodDetailWhitecont {
    width: 100%;
}

.srthumb_images_el {
    width: 100px;
    height: 100px;
    border: 1px solid #e1e1e1;
}

.dt_srthelook_img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.dt_srthelook_prodinfo {
    display: flex;
    align-items: center;
    // border-bottom: 1px solid #e1e1e1;
    gap: 158px;
    margin-right: 30px;
}

.srAccul {
    list-style-type: none;
    width: 40%;
}

.Acc-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    /* margin-bottom: -60px;
    margin-top: 7%; */
}

.smilingProdutDetltTitle {
    text-align: start !important;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    color: #333;
}

.dt_menuItemTimeEleveDeatil {
    font-size: 14px;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.dt_menuitemSelectoreMain {
    border: 1px solid #d7d7d7;
    outline: none;
    font-size: 14px;
    color: #999;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 2.2px;
    width: 50%;
    padding: 7px 0px;
    appearance: none;
    padding-left: 5px;
}

.mainpriceDeatilPage {
    font-size: 23px;
    display: flex;
    letter-spacing: 2.2px;
    font-family: "Poppins", sans-serif;
    color: #a8807c
}

.addtocartcont {
    border: 1px solid #a8807c;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 49px;
    cursor: pointer;
}

.addtocartcont:hover {
    background-color: #a8807c;
    transition: all 0.5s;

    .addtocarttxt {
        color: white;
    }

}

.addtocarttxt {
    color: #a8807c;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
}





.wishlistcont {
    /* border: 1px solid #d2815f; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0.4%; */
    border-radius: 2px;
}

.wishlistcont:hover {
    background-color: #d2815f0d;
}

.wishlist_label {
    font-family: "Poppins", sans-serif;
    color: #999;
    font-size: 16px;
}

.wishlist_label:hover {
    text-decoration: underline;
    transition: all 1s;
    text-underline-offset: 4px;
    color: #a8807c !important;
}

.proDeatilList {
    width: 25%;
    font-weight: 600;
}

.proDeatilList1 {
    width: 25%;
    color: gray;
    font-size: 14px;
}

.proDeatilList2 {
    width: 25%;
    color: gray;
    font-size: 14px;
}

.proDeatilList3 {
    font-size: 14px;
    width: 25%;
    color: gray;

}

.proDeatilList4 {
    color: gray;
    font-size: 14px;
    width: 25%;
}

.proDeatilList1.one {
    font-weight: 600;
}

.proDeatilList2.one {
    font-weight: 600;

}

.proDeatilList3.one {
    font-weight: 600;
}

.proDeatilList4.one {
    font-weight: 600;
}

.part1_key {
    font-size: 14px;
    color: #999;
    font-weight: bold;

}

.part1_value {
    font-weight: 400;
    letter-spacing: 2px
}

.breadCrumb_menu {
    width: 1129px;
    font-size: 11.3px;
    color: #999
}

.designno_info {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #666;
    font-family: "Poppins", sans-serif;
}

.cate_info {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #666;
    font-family: "Poppins", sans-serif;
}

.cate_info:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #a8807c !important
}

.dt_main_prod_img {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    // align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
}

.dt_prod_img {
    position: inherit;
    width: 80%;
    object-fit: scale-down;
    height: fit-content;
}

.dt_prod_video {
    // position:absolute;
    height: auto;
    // width: 100%;
    // left: 35px;
}

.dt_prod_video {
    position: inherit;
    width: 80%;
    object-fit: scale-down;
}

.dt_prod_thumb_img {
    object-fit: contain;
    width: 100px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    height: 100px;
}

.dt_thumb_prod_img {
    // position: absolute;
    // left:15px;
    // top:20px
    // padding: 35px 0px 0px 15px;
    padding: 0;
    left: -86px;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    // height: 91%;
    overflow-y: auto;
    overflow-x: hidden;
}


.dt_stockItem_table_tr,
.dt_stockItem_table_td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #7d7f85;
    font-size: 1rem;
}


.dt_stockItem_table {
    border-collapse: collapse;
    //  width:70%;
    font-family: $primaryFontFamily;
    border: 1px solid #dddddd;
}

.dt_DesignSet_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dt_Swiper_designSet {
    max-width: 1600px;
}

.dtthelook_prodinfo_inner {
    font-family: $primaryFontFamily;
}

.dt_currencyFont {
    font-family: $primaryFontFamily;
}

.dt_ctlImg_containe {
    width: 951px;
    height: 632px;
    display: flex;
    justify-content: center;
}

.dt_ctl_img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    margin-top: 12px;
    margin-bottom: -100px;
}

.dt_compeletethelook_prodt_for_3 {
    z-index: 1;
    position: relative;
    margin-left: -140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
}

.dt_price_breakup {
    width: 75%
}

.Dt_palyCircle {
    position: absolute;
    color: white;
    width: 50px;
    height: 50px;
}

.dt_stockitem_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dia_material_details_portion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
}

@media screen and (max-width:1820px) {
    .dt_Swiper_designSet {
        max-width: 1400px;
    }
}

@media screen and (max-width:1665px) {
    .dt_compeletethelook_prodt_for_3 {
        z-index: 1;
        position: relative;
        margin-left: 0px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 420px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media screen and (max-width:1590px) {
    .dt_Swiper_designSet {
        max-width: 1200px;
    }

    // .dt_compeletethelook_prodt_for_3{
    //     width:750px;
    // }
    .dt_product-detail-container {
        width: 80%
    }
}

@media screen and (max-width:1364px) {
    .dt_Swiper_designSet {
        max-width: 1100px;
    }
}

@media screen and (max-width:1121px) {
    .dt_Swiper_designSet {
        max-width: 900px;
    }

    .dt_compeletethelook_cont {
        display: flex;
        flex-direction: column !important;
    }

    .dt_ctlImg_containe {
        width: 600px !important;
        height: 600px !important;
    }

    .dt_compeletethelook_prodt {
        margin-left: 0px !important;
    }

    .dt_compeletethelook_prodt_for_3 {
        margin-left: 0px !important;
        height: auto !important;
        overflow-y: visible !important;
        width: 750px;
    }

    .swiper-pagination {
        position: relative
    }
}

@media screen and (max-width:917px) {
    .dt_Swiper_designSet {
        max-width: 600px;
    }

    .dt_compeletethelook_cont {
        display: flex;
        flex-direction: column !important;
    }

    .smr_lb3ctlImg_containe {
        width: 300px !important;
        height: 300px !important;
        // height: 100% !important;
    }

    .dt_compeletethelook_prodt {
        margin-left: 0px !important;
        width: 360px;
    }

    .dt_compeletethelook_prodt_for_3 {
        margin-left: 0px !important;
        width: 360px;
    }

    .swiper-pagination {
        position: relative
    }

    .dt_completethelook_outer {
        width: 357px !important;
    }

    .dt_compeletethelook_cont {
        padding: 0 50px !important;
    }

    .dt_prod_thumb_img {
        height: 70px;
        width: 70px
    }
}

@media screen and (max-width:612px) {
    .dt_Swiper_designSet {
        max-width: 360px;
    }

    .dt_compeletethelook_cont {
        display: flex;
        flex-direction: column !important;
    }

    .dt_ctlImg_containe {
        width: 300px !important;
        height: 300px !important;
        // height: 100% !important;
    }

    .dt_compeletethelook_prodt {
        margin-left: 0px !important;
        width: 360px;
    }

    .dt_compeletethelook_prodt_for_3 {
        margin-left: 0px !important;
        width: 360px;
    }

    .swiper-pagination {
        position: relative
    }

    .dt_completethelook_outer {
        width: 357px !important;
    }

    .dt_compeletethelook_cont {
        padding: 0 0 !important;
        margin-top: 14px !important;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

}

// @media screen and (max-width:999px) {
//     .dt_thumb_prod_img{
//         width: 100%;
//         overflow-x: auto;
//         margin-top: 10px;
//         display: flex;
//         gap: 5px;
//         position: relative;
//         flex-direction: row;
//         justify-content: center; 
//         padding: 0;
//         left: 0px;
//         align-items: center;
//         height: fit-content;

//     }
// }


@media screen and (max-width:1200px) {
    .smr_prod_image_shortInfo {
        display: flex;
        flex-direction: column;
    }

    .dt_product-detail-container {
        width: 100%
    }

    .dt_prod_video {
        position: relative;
        left: 0;
        margin-bottom: 35px;
        height: 80%;
    }

    .dt_thumb_prod_img {
        width: 91%;
        overflow-x: auto;
        margin-top: 10px;
        display: flex;
        gap: 5px;
        position: relative;
        flex-direction: row;
        /* justify-content: center; */
        padding: 0;
        left: 0px;
        align-items: center;
        height: fit-content;
        overflow-y: hidden;
        overflow-x: auto;
        overflow: auto;

    }

    .smr_prod_image_Sec {
        width: 100%
    }

    .smr_prod_shortInfo {
        width: 100%
    }

    .smr_material_details_portion {
        margin-top: 15px;
    }

    .smr_prodDetail_whiteInnerContain {
        margin-inline: 1%;
    }

    .smr_material_details_portion_inner {
        width: 100%;
    }

    .smr_prod_shortInfo_inner {
        margin: 0;
        width: 80%
    }
}

@media screen and (max-width:1426px) {
    .dt_thumb_prod_img {
        padding: 0;
        left: 0px;
        top: 0;
        display: flex;
        flex-direction: row;
        gap: 5px;
        height: fit-content;
        margin-left: 12px;
        width: 540px;
        overflow-x: auto;
        scrollbar-width: thin;
    }
}

@media screen and (max-width:1400px) {
    .smr_prod_shortInfo_inner {
        margin: 70px 50px 0px;
        width: 80%;
    }
}

@media screen and (max-width:425px) {
    .smr_prod_titleLine {
        font-size: 30px;
    }

    .smr_prod_shortInfo_inner {
        width: 100%;
        margin: 70px 20px;
    }

    .dt_price_breakup {
        width: 100%
    }
}

@media screen and (max-width:1001px) {
    .srprodetail1 {
        display: flex;
        flex-direction: column;
    }

    .dt_thumb_prod_img {
        width: 81%;
        overflow-x: auto;
        margin-right: 12px;
    }
}


@media screen and (max-width:1731px) {
    .prodDetailWhitecont {
        background-color: white;
        width: 100%;
    }
}

@media screen and (max-width:1665px) {
    .dt_compeletethelook_cont {
        padding: 0px 85px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dt_compeletethelook_prodt {
        margin-left: 0px;
    }

    .smilingCompleteLookMainWeb {
        margin-inline: 2% !important;
    }
}

@media screen and (min-width:1460px) {
    .smilingCompleteLookMainMobile {
        display: none !important;
    }
}

@media screen and (max-width:1461px) {

    .smilingCompleteLookMainWeb {
        display: none !important;
    }

    .smilingCompleteLookMainMobileImg {
        width: 95% !important;
    }

    .dt_ctl_img {
        object-fit: cover;
        width: 63%;
        margin-top: 12px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:1000px) {
    .dt_ctl_img {
        object-fit: cover;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 0px;
        margin: 0px 20px;
    }

    .dt_product-detail-container {
        max-height: fit-content !important;
    }


}

@media screen and (max-width:1440px) {
    .srthumb_images {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        gap: 10px;
        top: auto;
        z-index: auto;
    }

    .smilingProdutDetltTitle {
        font-size: 25px;
    }

    // .srprodetail2-cont {
    //     margin: 120px 50px 0px;
    // }

    .tellmeMoreMain {
        width: 100% !important;
    }

    .tellmeMoreMainMobileDiv {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1040px) {
    .srAccul {
        list-style-type: none;
        width: 100%;
        padding: 5px;
    }
}

@media screen and (max-width:999px) {
    .dt_product-detail-container {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .srprodetail1 {
        width: 100%
    }

    .smilingDeatilPageMainImage {
        margin-left: 0px !important;
    }

    .srprodetail2 {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .Acc-container {
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .srprodetail2-cont {
        margin-top: 70px !important;
        // width: 100% !important;
        width: 375px !important;
        margin-left: 12px;
    }

    // .smilingProdutDetltTitle {
    //     text-align: center !important;
    // }
}

.dt_d_val {
    font-size: 13px;
}

.dt_d_keys {
    font-size: 13px;
}

.dt_table_mtcol {
    font-size: 13px;
}

.dt_table_Price {
    font-size: 13px;
}

.dt_skeleton_main {
    height: 100%;
    width: 95% !important;
}

@media screen and (max-width:425px) {
    .dt_skeleton_main {
        height: 340px !important;
        width: 340px;
    }
}

@media screen and (max-width:1000px) {
    .dt_d_val {
        font-size: 10px;
    }

    .dt_d_keys {
        font-size: 10px;
    }

    .dt_table_mtcol {
        font-size: 10px;
    }

    .dt_table_Price {
        font-size: 10px;
    }
}

@media screen and (max-width:890px) {
    .dt_srthelook_prodinfo {
        display: flex;
        align-items: center;
        // border-bottom: 1px solid #e1e1e1;
        width: 100%;
        gap: 0px;

    }
}

@media screen and (min-width:700px) {
    .CustomiZationDeatilPageMobile {
        display: none !important;
    }
}

@media screen and (max-width:699px) {
    // .CustomiZationDeatilPageWeb {
    //     display: none !important;
    // }

    .srprodetail2-cont {
        margin: 10px !important;
        width: 93% !important;
    }

    .smilingProdutDetltTitle {
        font-size: 20px;
    }
}

@media screen and (max-width:660px) {
    .dt_stockitem_container {
        width: 100%;
        overflow-x: auto;
        justify-content: flex-start;
    }
}

@media screen and (max-width:621px) {
    .srthumb_images {
        padding-left: 0;
        width: 100%;
    }

    .dt_compeletethelook_cont {
        padding: 0px;
    }

    .dt_completethelook_outer {
        padding: 0;
        border: none;
    }
}

@media screen and (max-width:375px) {

    .dt_menuitemSelectoreMain {
        font-size: 11px !important;
        font-family: "Poppins", sans-serif !important;
        letter-spacing: 0px !important;
    }
}

@media screen and (max-width:467px) {
    .srthumb_images_el {
        width: 43px;
        height: 43px;
        border: 1px solid #e1e1e1;
    }

    .srthumb_images {
        gap: 5px;
    }


}