//backgroundcolors

$backgroundColor: var(--background-color);
// $backgroundColor:  storeInit?.IsPLW == 1 ? #c4cfdb :#c0bbb1 ;
$btn1bgColor: #fff;
$btn1ActivebgColor: #7d7f85;



$stambackcolor: #fff2e6;
$stamMainBackColor: #fbf8f3;




//fontcolors
$primaryfontcolor: #8f8c8be6;
$primaryfontcolor2: #7d7f85;
// $primaryfontcolor:#8f8c8b;
$homePageFontColor: #7d7f85;
$titleColor: #7d7f85;
$btn1FontColor: #7d7f85;
$btn1hoverColor: #7d7f85;
$btn1hoverFontColor: #fff;
$primaryfontcolorLight: #7d7f856e;

//fontFamily
$homePageFontFamily: "Helvetica", sans-serif;
$primaryFontFamily: "Helvetica", sans-serif;
$primaryFontFamilyMedium: "Helvetica", sans-serif;

//fontSize
$fontSize0: 10px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 28px;
$fontSize7: 35px;
$fontSize8: 40px;

// Main Background Color
$HomeBgColor: #fff2e6;

//borderColor
$primaryBorderColor: #e1e1e1;
$primaryBorderColor2: #42424233;

// text color
$primaryTextColor: #000;
$primaryTextColor2: #fc6a03;

//account background color
$accountBgColor: #fff2e6;