.top-section-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.elv_top_section_img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image fills the container without stretching */
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1600px) {
    .top-section-container {
        height: 800px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 1400px) {
    .top-section-container {
        height: 700px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 1250px) {
    .top-section-container {
        height: 650px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 1200px) {
    .top-section-container {
        height: 600px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 1000px) {
    .top-section-container {
        height: 500px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 870px) {
    .top-section-container {
        height: 400px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 700px) {
    .top-section-container {
        height: 300px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 530px) {
    .top-section-container {
        height: 280px !important; /* Adjusted height for smaller screens (optional) */
    }
}
@media screen and (max-width: 490px) {
    .top-section-container {
        height: 250px !important; /* Adjusted height for smaller screens (optional) */
    }
}
@media screen and (max-width: 440px) {
    .top-section-container {
        height: 200px !important; /* Adjusted height for smaller screens (optional) */
    }
}
@media screen and (max-width: 360px) {
    .top-section-container {
        height: 190px !important; /* Adjusted height for smaller screens (optional) */
    }
}

@media screen and (max-width: 340px) {
    .top-section-container {
        height: 170px !important; /* Adjusted height for smaller screens (optional) */
    }
}

