@import "../../../scss/variable";

.smrMA_trendingViewTopMain {
  position: relative;
  max-height: 1000px;
  height: auto;
  

  .smr_trendingtile {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: $fontSize5;
    text-align: center;
    text-decoration: underline;
    margin-top: 60px;
  }

  .smr_TrendingViewAll {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: calc($fontSize1 - 1px);
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
  }

  .smr_trendingViewMain {
    height: 250px !important;
    width: 500px !important;
  }

  .smr_trendingImageDiv {
    height: 90% !important;
  }

  .smr_TrendingViewImage {
    width: 100%;
    height: 80%;
    object-fit: contain;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    /* Customize the color if needed */
    display: block;
    /* Ensure the buttons are displayed */
    position: absolute;
    /* Absolute positioning for navigation buttons */
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    /* Ensure the buttons are displayed */
    position: absolute;
    /* Absolute positioning for navigation buttons */
    top: 50%;
    width: 20px !important;
    height: 20px !important;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    color: black !important;
    background-repeat: no-repeat;
  }

  .mySwiper {
    min-height: 200px;
  }

  .smr_trendingViewTopMain_div {
    display: flex;
    margin-top: 5px;
    margin-inline: 0px;
  }

  .smr_trendingViewTopMain_Imgdiv {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .smr_trendingViewTopMain_Sliderdiv {
    width: 70%;
  }

  .linkingLoveImageDesign {
    max-height: 645px;
    margin-top: 0px;
    width: 100%;
  }

  .linkRingLove {
    display: flex !important;
    justify-content: center;
  }

  .linkLoveRing1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0px;
  }

  .likingLoveImages {
    max-height: 400px;
    object-fit: contain;
    cursor: pointer;
    width: 100%;
  }

  .linkingTitle {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: $fontSize5;
    text-align: center;
  }

  .linkingShopCol {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: $fontSize1;
    text-align: center;
  }

  .linkingDesc {
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: $fontSize2;
    margin: 0px;
    text-align: center;
  }

  .linkLoveRing1Desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ring1Desc {
    width: 70%;
    text-align: center;
    font-weight: 500;
    color: $homePageFontColor;
    font-family: $homePageFontFamily;
    font-size: $fontSize1;
    margin: 5px;
  }

  @media screen and (max-width: 1000px) {
    .likingLoveImages {
      width: 100%;
    }

    .linkingTitle {
      margin: 0px;
      font-size: 20px;
    }

    .linkingShopCol {
      margin: 0px;
      font-size: 11px;
    }

    .smr_trendingViewTopMain_Imgdiv {
      display: flex;
    }

    .linkingLoveImageDesign {
      height: auto !important;
    }

    .linkingLoveMain2 {
      margin-top: 0px;
    }

    .linkingLove {
      width: 100%;
      order: 2;
    }

    .linkingLoveImage {
      width: 100%;
      order: 1;
    }

    .likingLoveImages {
      height: 250px;
    }

    .linkRingLoveSubMain {
      height: 250px !important;
      width: 50% !important;
    }
  }

  @media screen and (max-width: 800px) {
    .linkingLoveImageDesign {
      object-fit: contain;
      height: auto !important;
      margin-top: 0px !important;
    }
  }

  @media screen and (max-width: 750px) {
    .linkingLoveImageDesign {
      object-fit: cover;
      height: 500px !important;
    }

    .smr_trendingViewTopMain_Imgdiv {
      width: 100%;
    }
    .smr_trendingViewTopMain_div {
      display: flex;
      margin-top: 0px;
      margin-inline: 10px !important;
      flex-direction: column;
      margin-inline: 0px !important;
    }

    .smr_trendingViewTopMain_Sliderdiv {
      width: 100%;
    }

    .linkingTitle {
      margin: 10px 0px 0px 0px !important;
    }
  }

  @media screen and (max-width: 420px) {
    .likingLoveImages {
      height: 150px;
    }
  }
}
