@import '../../../../scss/elvee_modules.scss';

.elvee_container {

  font-family: $fontSansSerif !important;

  .elvee_contact-img {
    width: 100%;
  }

  .elvee_heading-main {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .elvee_grid-container {
    display: grid;
    gap: 2rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .elvee_grid-item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

  .elvee_input_from {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    outline: none;

    .for_error-message {
      margin-top: 3px;
      margin-bottom: 0;
      text-align: left;
      color: red;
    }
  }

  .elvee_contact-form {
    margin-bottom: 3rem;
    width: 60%;
    margin: 0 auto;

    @media screen and (max-width: 864px) {
      width: 92%;
      margin: 0 auto;
    }

    @media screen and (max-width: 500px) {
      width: 98%;
      margin: 0 auto;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2rem;
    }

    p {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    form {
      display: grid;
      gap: 1.4rem;
      grid-template-columns: repeat(2, 1fr);

      @media screen and (max-width: 520px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .elvee_input {
        border-bottom: 1px solid #ddd;
        border-left: none;
        border-top: none;
        border-right: none;
        padding: 0.5rem;
        outline: none;
        width: 100%;

        @media screen and (max-width: 768px) {
          width: 95%;
        }

        @media screen and (max-width: 1000px) {
          width: 82%;
        }

        @media screen and (max-width: 1420px) {
          width: 87%;
        }
      }

      .elvee_textarea {
        height: 8rem;
        grid-column: span 1;
        border: 1px solid #ddd;
        outline: none;
      }

      .elvee_button {
        grid-column: span 2;
        background-color: #00185a;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        margin-inline: auto;
        margin-top: 0.5rem;
        // border-radius: 8px;
        width: 24rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 520px) {
          width: 86%;
        }
      }
    }
  }

  .elvee_newsletter {
    display: grid;
    gap: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .elvee_newsletter-item {
      h3 {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .elvee_form {
        display: flex;

        .elvee_input {
          border: 1px solid #ddd;
          padding: 0.5rem;
          flex-grow: 1;
        }

        .elvee_button {
          background-color: #2563eb;
          color: white;
          padding: 0.5rem 1rem;
          border: none;
          cursor: pointer;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .elvee_office-details {
    h4 {
      font-weight: 600;
      margin-top: 1rem;
    }
  }
}