::-webkit-scrollbar {
  width: 2.7px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.backtotop_Smr{
  color: #585858 !important;
  font-weight: 600 !important;
}


.MobileAppPay, .css-1qd6nut{
      padding-top: 5px !important;
}

::-ms-reveal,
::-ms-clear {
  display: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}