@import '../../../../scss/elvee_modules.scss';

.promo-daimondBoxMain {
    display: flex;
    margin-inline: 90px;
}

.promo_first_div {
    margin-block: 90px;
}

.elv_promo_div {
    margin-top: 6rem;
    // margin-top: 17rem;
}

.promo-daimondBox1 {
    border: none !important;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding-right: 5%;
    margin-right: 5%;
}

.promo-daimondBox_1 {
    border: none !important;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    padding-left: 3%;
    margin-left: 3%;
}

.promo_dia_desc {
    font-size: 22px;
    color: rgba(29, 50, 88, 0.8);
    font-family: $fontSansSerif;
}

.promo-daimondBox2 {
    height: 450px;
    width: 43%;
}

.promo-daimondBox2-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 5px;
}

.promo-foundersDesc {
    display: flex;
    justify-content: center;
}

.promo-foundersImges {
    width: 50%;
    margin-block: 50px;
}

.promo_dia_title_1 {
    font-size: 28px;
    color: rgba(29, 50, 88, 0.8);
    font-weight: 600;
    font-family: $fontSansSerif;
}

.promo_dia_title_desc_1 {
    font-size: 22px;
    color: rgba(29, 50, 88, 0.8);
    font-family: $fontSansSerif;
}



@media screen and (max-width: 1200px) {

    .elv_promo_div {
        margin-top: 15rem;
    }

    .promo-daimondBoxMain {
        display: flex;
        flex-direction: column-reverse;
        margin-inline: 10px;
        align-items: center;
        gap: 1rem;
    }

    .promo-daimondBox_1 {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        padding-inline: 2%;
    }

    .promo-daimondBox1 {
        width: 100%;
        width: 100%;
        padding-right: 0;
        margin-right: 0;
        padding-inline: 2%;
    }

    .promo-daimondBox2 {
        object-fit: cover;
        width: 100%;
        order: 1;
    }

    .promo-daimondBox1 {
        margin-top: 20px;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .elv_promo_div {
        margin-top: 6rem;
    }

    .promo_first_div {
        margin-block: 60px;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .elv_promo_div {
        margin-top: 5rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    .promo-daimondBox2-image {
        height: 290px;
    }

    .promo-daimondBox_1 p {
        font-size: 14px !important;
    }

    .promo-daimondBox2 {
        height: auto;
    }

    .promo-daimondBox1 p {
        margin-top: 10px;
        font-size: 14px !important;
    }
}

@media (max-width: 500px) {
    .elv_promo_div {
        margin-top: 6rem;
    }

    .promo_first_div {
        margin-block: 50px;
    }
}

@media screen and (max-width: 425px) {
    .promo-daimondBox2-image {
        height: 290px;
    }



    .promo-daimondBox_1 p {
        font-size: 16px !important;
    }

    .promo-daimondBox2 {
        height: auto;
    }

    .promo-daimondBox1 p {
        margin-top: 10px;
        font-size: 16px !important;
    }
}