@import "../../../scss/variable";

.mala_prodDetail_bodyContain {
    height: 100%;
    width: 100%;
    margin-top: 220px;
    color: white;
    font-family: $rown !important;

    @media screen and (max-width: 1200px) {
        margin-top: 80px;
        padding-block: 36px;
    }


    .mala_prodDetail_outerContain {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // padding-bottom: 15px;
        margin-inline: auto;
        padding-bottom: 15px;
        width: 100% !important;
        max-width: 90rem;
    }

    .mala_prodDetail_whiteInnerContain {
        background-color: #fff;
        width: 100%;
    }

    .mala_prod_detail_main {
        width: 100%;
    }

    .mala_prod_image_shortInfo {
        width: 100%;
        display: flex;
    }

    .mala_prod_image_Sec {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .mala_prod_shortInfo {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .mala_main_prod_img {
        display: flex;
        // flex-direction: row-reverse;
        width: 80%;
        position: relative;
        justify-content: center;
        align-items: center;
        // margin-left: 51px;
    }

    .mala_prod_img {
        position: inherit;
        width: 100%;
        object-fit: scale-down;
    }

    .mala_prod_video {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 35px;
    }

    .mala_prod_video {
        position: inherit;
        width: 100%;
        object-fit: scale-down;
    }

    .mala_prod_thumb_img {
        object-fit: contain;
        width: 70px;
        border: 1px solid #e1e1e1;
        border-radius: 8px;
    }

    .mala_main_thumb_prod_img {
        position: absolute;
        // left:15px;
        // top:20px
        padding: 35px 0px 0px 15px;
        left: -86px;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        @media (max-width: 1200px) {
            height: inherit;
        }
    }

    .mala_prod_shortInfo_inner {
        margin: 50px 100px 0px;
        width: 60%;
        // margin-top: 100px;
    }

    .mala_prod_titleLine {
        text-align: start !important;
        font-size: 35px;
        font-family: $homePageFontFamily;
        font-weight: 400;
        font-style: normal;
        color: $primaryfontcolor2;
    }

    .mala_prod_summury_info {
        font-family: $homePageFontFamily;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $primaryBorderColor;
        padding-bottom: 12px;
    }

    .mala_prod_summury_info_inner {
        display: flex;
        flex-direction: column;
    }

    .mala_single_prod_designno {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        color: $primaryfontcolor2;
    }

    .mala_prod_short_key {
        font-size: 14px;
        color: $primaryfontcolor2;
    }

    .mala_prod_short_val {
        font-family: $primaryFontFamilyMedium;
        letter-spacing: 2px;
    }

    .mala_single_prod_customize {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 12px;
    }

    .mala_single_prod_customize_metal {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 15px;
        gap: 5px;
    }

    .mala_single_prod_customize_outer {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-bottom: 15px;
        padding-top: 10px;
        gap: 5px;
        border-top: 1px solid $primaryBorderColor2;
    }

    .menuItemTimeEleveDeatil {
        font-size: 13px;
        color: $primaryfontcolor;
        letter-spacing: 1px;
        font-family: $primaryFontFamily;
    }

    .menuitemSelectoreMain {
        border: none;
        outline: none;
        font-size: 15px;
        color: $primaryfontcolor2;
        font-family: $primaryFontFamily !important;
        // font-weight: bold;
        letter-spacing: 2.2px;
        height: 30px;
        // background-color: white;
    }

    .mala_price_portion {
        font-size: 24px;
        display: flex;
        letter-spacing: 2.2px;
        font-family: $primaryFontFamilyMedium;
        margin-left: 5px;
        color: $primaryfontcolor2;
        margin-top: 12px;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .Smr_CartAndWish_portion {
        display: flex;
        gap: 12px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .mala_AddToCart_btn {
        border: 1px solid #7d7f85;
        width: 80%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 49px;
        cursor: pointer;
        color: #fff !important;
        background-color: #17372F;
    }

    .mala_AddToCart_btn_afterCart {
        border: 1px solid #7d7f85;
        width: 80%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 49px;
        cursor: pointer;
        color: white;
        background-color: #7d7f85;
    }

    .mala_addtocart_btn_txt {
        font-family: $primaryFontFamilyMedium;
        font-size: 15px;
        letter-spacing: 1.5px;
        position: relative;
        color: #fff;
    }

    .Smr_wishlistcont {
        border: 1px solid #7d7f85;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4%;
        border-radius: 2px;
        background-color: white;
    }

    .mala_proDeatilList {
        width: 25%;
        font-weight: 600;
        color: $primaryfontcolor2;
        text-decoration: underline;
        font-family: $primaryFontFamily;
    }

    .mala_proDeatilList1 {
        width: 25%;
        color: #808080;
        font-size: 14px;
        font-family: $primaryFontFamily;
    }


    .mala_material_details_portion {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        margin-bottom: 110px;
        margin-top: 70px;
    }

    .mala_stockItem_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        margin-bottom: 150px;
    }

    .mala_details_title {
        font-size: 30px;
        font-family: $homePageFontFamily;
        color: $primaryfontcolor2;
    }

    .mala_material_details_portion_inner {
        font-family: $homePageFontFamily;
        width: 60%;
    }

    .mala_mt_detail_title_ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        margin: 0px 0px 3px;
    }

    .cart_and_wishlist_icon {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        flex-direction: row-reverse;
    }

    .mala_stockitem_container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mala_stock_item_card {
        display: flex;
        justify-content: center;
        width: 94%;
        align-items: center;
        margin-inline: 3%;
        gap: 8px;
        flex-wrap: wrap;
    }

    .mala_stockItemCard {
        display: flex;
        position: relative;
        width: 310px;
        border: 1px solid #e1e1e1;
        text-align: center;
        flex-direction: column;
    }

    .mala_productCard_Image {
        object-fit: contain;
        // background-position: 50%;
        background-size: cover;
        // height: 100%;
        // min-height: 100%;
        width: 100%;
    }

    .mala_prod_Allwt {
        display: flex;
        // flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-inline: 30px;
        gap: 3px;
        font-family: $primaryFontFamily;
        color: $primaryfontcolor2;
    }

    .mala_prod_wt {
        display: flex;
        gap: 2px;
        font-family: $primaryFontFamily;

    }

    .mala_d_keys {
        font-size: 13px;
    }

    .mala_d_val {
        font-size: 13px;
        font-weight: 400;
    }

    .mala_prod_designno {
        font-size: 14px;
        font-weight: 400;
        padding: 0px 5px;
        color: $primaryfontcolor2;
    }

    .mala_stockItem_price_type_mt {
        color: $primaryfontcolor;
        font-size: 14px;
        font-family: $primaryFontFamily;
    }

    .mala_prodd_datanotfound {
        font-family: $primaryFontFamilyMedium;
        color: $primaryfontcolor;
        font-size: 42px;
    }

    .Smr_stockItem_table_tr,
    .Smr_stockItem_table_td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        color: #7d7f85;
    }

    // .Smr_stockItem_table_tr:nth-child(even){
    //     background-color: #dddddd;
    // }

    .Smr_stockItem_table {
        border-collapse: collapse;
        width: 70%;
        font-family: $primaryFontFamily;
        border: 1px solid #dddddd;
    }

    .mala_Swiper_designSet {
        max-width: 1600px;
    }

    .mala_Price_breakup_label {
        width: 70px;
        color: #7d7f85;
        font-family: $primaryFontFamily;
    }

    .mala_currencyFont {
        font-family: $primaryFontFamily;
    }

    .mala_PriceBreakup_Price {
        font-family: $primaryFontFamily;
    }

    .mala_prodDetail_backtotop {
        color: white;
        font-family: $primaryFontFamily;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-color: #c0bbb1;
        width: 100%;
        cursor: pointer;
    }

    @media screen and (max-width:1820px) {
        .mala_Swiper_designSet {
            max-width: 1400px;
        }
    }

    @media screen and (max-width:1590px) {
        .mala_Swiper_designSet {
            max-width: 1200px;
        }

        .compeletethelook_prodt_for_3 {
            width: 750px;
        }
    }

    @media screen and (max-width:1364px) {
        .mala_Swiper_designSet {
            max-width: 1100px;
        }
    }

    @media screen and (max-width:1121px) {
        .mala_Swiper_designSet {
            max-width: 900px;
        }

        .compeletethelook_cont {
            display: flex;
            flex-direction: column !important;
        }

        .mala_ctlImg_containe {
            width: 600px !important;
            height: 600px !important;
        }

        .compeletethelook_prodt {
            margin-left: 0px !important;
        }

        .compeletethelook_prodt_for_3 {
            margin-left: 0px !important;
            height: auto !important;
            overflow-y: visible !important;
            width: 750px;
        }

        .swiper-pagination {
            position: relative
        }
    }

    @media screen and (max-width:917px) {
        .mala_Swiper_designSet {
            max-width: 600px;
        }

        .compeletethelook_cont {
            display: flex;
            flex-direction: column !important;
        }

        .mala_lb3ctlImg_containe {
            width: 300px !important;
            height: 300px !important;
            // height: 100% !important;
        }

        .compeletethelook_prodt {
            margin-left: 0px !important;
            width: 360px;
        }

        .compeletethelook_prodt_for_3 {
            margin-left: 0px !important;
            width: 360px;
        }

        .swiper-pagination {
            position: relative
        }

        .completethelook_outer {
            width: 357px !important;
        }

        .compeletethelook_cont {
            padding: 0 50px !important;
        }
    }

    @media screen and (max-width:612px) {
        .mala_Swiper_designSet {
            max-width: 360px;
        }

        .compeletethelook_cont {
            display: flex;
            flex-direction: column !important;
        }

        .mala_ctlImg_containe {
            width: 300px !important;
            height: 300px !important;
            // height: 100% !important;
        }

        .compeletethelook_prodt {
            margin-left: 0px !important;
            width: 360px;
        }

        .compeletethelook_prodt_for_3 {
            margin-left: 0px !important;
            width: 360px;
        }

        .swiper-pagination {
            position: relative
        }

        .completethelook_outer {
            width: 357px !important;
        }

        .compeletethelook_cont {
            padding: 0 0 !important;
            margin-top: 14px !important;
        }

        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next {
            display: none;
        }

        // .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        //     top:-814px !important;
        // }
    }

    .compeletethelook_cont {
        padding: 0px 85px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: black;
    }

    .swiper-pagination-bullet-active {
        background: black;
    }

    .swiper-pagination-bullet {
        width: 27px !important;
        height: 2px !important;
        border-radius: 0px !important;
    }


    .compeletethelook_prodt {
        z-index: 1;
        position: relative;
        margin-left: -140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height:364px;
        // overflow-y: scroll;
    }

    .compeletethelook_prodt_for_3 {
        z-index: 1;
        position: relative;
        margin-left: -140px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        height: 420px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .completethelook_outer {
        padding: 5px;
        border: 1px solid #e1e1e1;
        background-color: #fff;
        width: 513px
    }

    .srthelook_img {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }

    .srthelook_prodinfo {
        display: flex;
        align-items: center;
        // border-bottom: 1px solid #e1e1e1;
        border-bottom: none !important;
        gap: 158px;
    }

    .srthelook_prodinfo_inner {
        font-family: $primaryFontFamilyMedium;
    }

    .mala_ctlImg_containe {
        width: 951px;
        height: 632px;
    }

    .ctl_img {
        object-fit: scale-down;
        width: 100%;
        height: 100%;
        margin-top: 12px;
        margin-bottom: -100px;
    }

    .mala_DesignSet_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    @media screen and (max-width:1200px) {
        .mala_prod_image_shortInfo {
            display: flex;
            flex-direction: column;
        }

        .mala_prod_video {
            position: relative;
            left: 0;
            margin-bottom: 35px;
            height: 80%;
        }

        // .mala_main_thumb_prod_img{
        // /* position: absolute; */
        // /* padding: 35px 0px 0px 15px; */
        // // left: -71px;
        // // top: 0;
        // display: flex;
        // /* flex-direction: column; */
        // gap: 5px;
        // justify-content: center;
        // align-items: center;
        // }
        .mala_main_thumb_prod_img {
            display: flex;
            gap: 5px;
            position: relative;
            flex-direction: row;
            justify-content: center;
            padding: 0;
            left: 0px;
            width: 100%;
            overflow-x: auto;
            scrollbar-width: thin;
        }

        .mala_prod_image_Sec {
            width: 100%
        }

        .mala_prod_shortInfo {
            width: 100%
        }

        .mala_material_details_portion {
            margin-top: 15px;
        }

        .mala_material_details_portion_inner {
            width: 100%;
        }

        .mala_prod_shortInfo_inner {
            margin: 0;
            width: 80%
        }
    }

    @media screen and (max-width:1400px) {
        .mala_prod_shortInfo_inner {
            margin: 70px 50px 0px;
            width: 80%;
        }
    }

    @media screen and (max-width:425px) {
        .mala_prod_titleLine {
            font-size: 30px;
        }

        .mala_prod_shortInfo_inner {
            width: 100%;
            margin: 70px 20px;
        }
    }
}