//backgroundcolors

$backgroundColor: var(--background-color);
// $backgroundColor:  storeInit?.IsPLW == 1 ? #c4cfdb :#c0bbb1 ;
$btn1bgColor: #fff;
$btn1ActivebgColor: #7d7f85;

$stambackcolor: #fff2e6;
$roopMainBackColor: #fbf8f3;


// Roop jewelers primart color

$btnprimarycolor: #D14A61;
$btn1hoverColor: #e54e68;


//fontcolors
$primaryfontcolor: #8f8c8be6;
$primaryfontcolor2: #7d7f85;
// $primaryfontcolor:#8f8c8b;
$homePageFontColor: #7d7f85;
$titleColor: #7d7f85;
$btn1FontColor: #7d7f85;
$btn1hoverFontColor: #fff;
$primaryfontcolorLight: #7d7f856e;

//fontFamily
$homePageFontFamily: "Spectral", serif;
$primaryFontFamily: "Spectral", serif;
$primaryFontFamilyMedium: "Spectral", serif;

//fontSize
$fontSize0: 10px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 28px;
$fontSize7: 35px;
$fontSize8: 40px;

//borderColor
$primaryBorderColor: #e1e1e1;
$primaryBorderColor2: #42424233;


// Font Family for RP Jewel

@font-face {
  font-family: 'Spectral-Regular';
  src: url('../Assets/fonts/Spectral-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral-Medium';
  src: url('../Assets/fonts/Spectral-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral-ExtraBold';
  src: url('../Assets/fonts/Spectral-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spectral-Bold';
  src: url('../Assets/fonts/Spectral-Bold.ttf') format('truetype');
}

$fontRegular: "Spectral-Regular, sans-serif";
$fontMedium: "Spectral-Medium, sans-serif";
$fontExtraBold: "Spectral-ExtraBold, sans-serif";
$fontBold: "Spectral-Bold, sans-serif";